<% include ad_header %>
    <%

// Add commas as thousand separators
function formatDate(date) {
  if (date == null)
  {
    return "";
  } else {
    var date = new Date(date);
    var d = date.getDate();
    var m = date.getMonth() + 1;
    var y = date.getFullYear();
    return m + '/' + d + '/' + y;
  }
}
%>
        <div class="row">
            <%contact.forEach(data=>{%>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <!-- <h3>List All Brand </h3> -->
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body">
                            <div class="form-group">
                                <label for="email">Contact No.:</label>
                                <p class="form-control">
                                    <%=data.id%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Sender:</label>
                                <p class="form-control">
                                    <%=data.fullname%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Emal</label>
                                <p class="form-control">
                                    <%=data.email%>

                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Phone:</label>
                                <p class="form-control">
                                    <%=data.phone%>
                                </p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <!-- <h3>List All Brand </h3> -->
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="email">Send date</label>
                                <p class="form-control">
                                    <%=formatDate(data.contact_date)%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Message</label>
                                <p class="form-control" style="height: 178px">
                                    <%=data.message%>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->
                </div>
                <%})%>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3>Order List </h3>
                    </div>
                    <!-- /.panel-heading 
                    <div class="panel-body">
                        <div class="account-main">
                            <div class="col-md-12 account-left">
                                <div class="col-md-2 account-left">
                                    <h3>OrderCode</h3>
                                </div>
                                <div class="col-md-3 account-right account-left">
                                    <h3>OrderDate</h3>
                                </div>
                                <div class="col-md-3 account-right account-left">
                                    <h3>Amount</h3>
                                </div>
                                <div class="col-md-3 account-right account-left">
                                    <h3>Status</h3>
                                </div>
                                <div class="col-md-1 account-right account-left">
                                    <h3></h3>
                                </div>
                            </div>
                            <hr style="border-style: solid; border-width: 1px; color: #73b6e1" />

                            <div class="col-md-12">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-2">
                                    <img src="images/tracking.png" />
                                </div>
                            </div>
                            <hr style="border-style: solid; border-width: 1px; color: #73b6e1" />
                        </div>
                    </div>
                    <!-- /.panel-body 
                </div>
                <!-- /.panel 
            </div>
        </div> -->
        <% include ad_footer%>