<% include ad_header %>
    <%

// Add commas as thousand separators
function formatDate(date) {
  if (date == null)
  {
    return "";
  } else {
    var date = new Date(date);
    var d = date.getDate();
    var m = date.getMonth() + 1;
    var y = date.getFullYear();
    return m + '/' + d + '/' + y;
  }
}
%>
        <div class="row">
            <%contact.forEach(data=>{%>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <!-- <h3>List All Brand </h3> -->
                        </div>
                        <!-- /.panel-heading -->

                        <div class="panel-body">
                            <div class="form-group">
                                <label for="email">Contact No.</label>
                                <p class="form-control">
                                    <%=data.id%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Sender:</label>
                                <p class="form-control">
                                    <%=data.fullname%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <p class="form-control">
                                    <%=data.email%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Phone:</label>
                                <p class="form-control">
                                    <%=data.phone%>
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="email">Send date</label>
                                <p class="form-control">
                                    <%=formatDate(data.contact_date)%>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Message</label>
                                <p class="form-control" style="height: 178px">
                                    <%=data.message%>
                                </p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <!-- <h3>List All Brand </h3> -->
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form action="admin" method="POST">
                                <div class="form-group">
                                    <label for="email">To:</label>
                                    <input type="email" name="email" class="form-control" value="<%=data.email%>" id="email" required>
                                </div>
                                <%})%>
                                    <div class="form-group">
                                        <label for="comment">Content:</label>
                                        <textarea class="form-control" rows="15" name="content" id="content" required></textarea>
                                    </div>
                                    <div class="form-group">
                                            <button type="submit" value="" class="btn btn-default">Send</button>
                                            <button type="reset" class="btn btn-default">Clear</button>
                                            <button type="submit" class="btn btn-default">Mask as Read</button>
                                        </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->
                </div>

        </div>
        <% include ad_footer%>