<% include ad_header %>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <div class="row">
                <h2>The Best Seller Product</h2>
            </div>
            <div class="row text-center">
                <hr style="border-style: solid; border-width: 1px; color: #73b6e1" />
                <form action="/admin/product/report" method="POST">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="email">Year</label>
                            <input type="number" class="form-control" min="2000" max="3000" name="year" placeHolder="Year" required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="email">Month</label>
                            <input type="number" class="form-control" min="1" max="12" name="month" placeholder="Month" required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="email">Number of records</label>
                            <input type="number" class="form-control" min="1" max="100" name="record" placeHolder="Number of record" required />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <br/>
                            <input type="submit" class="btn btn-success" value="Export to PDF">
                        </div>
                    </div>

                </form>
            </div>
            <hr style="border-style: solid; border-width: 1px; color: #73b6e1" />
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTablesBestProduct">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%product.forEach(data=>{%>
                            <tr>
                                <td style="width: 50px">
                                    <%=data.id %>
                                </td>
                                <td style="width: 100px">
                                    <p>
                                        <img class="img-responsive zoom-img" style="width: 100%; height: 100%" src="images/<%= data.image[Object.keys(data.image)[0]]%>"
                                            alt="" />

                                    </p>
                                </td>
                                <td>
                                    <div class="<%if(data.quantity<15){%> bg-danger <%}%>">
                                        <%=data.name %>
                                    </div>

                                </td>
                                <td>
                                    <div class="<%if(data.quantity<15){%> bg-danger <%}%>">
                                        <%=data.price %>
                                    </div>
                                </td>
                                <td>
                                    <div class="<%if(data.quantity<15){%> bg-danger <%}%>">
                                        <%=data.quantity %>
                                    </div>

                                </td>

                                <td>
                                    <a href="admin/product/edit/<%=data.id%>" type="button" class="btn btn-info">View Details</a>

                                    <!-- <a href="admin/product/delete/<%#=data.id%>" type="button" class="btn btn-danger" onclick='return confirm("Lưu Ý: Sau khi xóa dữ liệu liên quan cũng sẽ mất.\n           Có chắc muốn xóa dòng này?");'>
                                        Disable
                                    </a> -->
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>

    <% include ad_footer%>