<!DOCTYPE html>
<html>

<head>
    <title>
        MenWatches |
        <%=title%>
    </title>
    <base href="/">
    <!-- using for stripe payment -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        crossorigin="anonymous"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->


    <!-- <script src="js/jquery-1.11.0.min.js"></script> -->


    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    </script>
    <!-- <link href="css/startmin.css" rel="stylesheet" type="text/css" media="all" /> -->
    <link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/menwatches.css" rel="stylesheet" type="text/css" media="all" />

    <!-- <script type="text/javascript" src="js/memenu.js"></script> -->


    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--end-menu-->
    <!-- Custom CSS -->

    <!--dropdown-->


    <!-- <script src="js/jquery.easydropdown.js"></script> -->


    <script type="text/javascript">
        $(function () {
            var menu_ul = $('.menu_drop > li > ul'),
                menu_a = $('.menu_drop > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });
        });
    </script>
</head>

<body>
    <!-- this script ussing for social network -->
    <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-576b61d0718907f4"></script> -->
    <!-- this script ussing for facebook network -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/us_US/sdk.js#xfbml=1&version=v2.11&appId=160773434573246&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        crossorigin="anonymous"></script> -->
    <!--top-header-->
    <div onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="images/back-to-top.png" alt="" />
    </div>
    <div class="fixed_cart" style="position: fixed; top:11%; right: 0px; width: 100px; z-index: 10000">
        <a id="cartqty" name="cartqty" href="shopping-cart" style="text-decoration: none; font-size: 2.1em; color: #4CB1CA; float: right">
            <%if(!session.cart){%>
                0
                <%}else{%>
                    <%= session.cart.totalItems %>
                        <%}%>
                            <img src="images/cart-4.png" alt="" style="float: right; background-color: white; border-radius: 50px 50px;" />
        </a>
    </div>

        <!-- Static navbar -->
        <nav class="navbar navbar-default" style="background-color: black">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" style="margin-right: 30px" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <%if(!user){%>
                            <li>
                                <a href="/register">
                                    <img src="admin/img/add_page.png"> Sign Up</a>
                            </li>
                            <li>
                                <a href="/login">
                                    <img src="admin/img/unlock.png"> Login</a>
                            </li>
                            <%}else{%>
                                <li>
                                    <a>
                                        Hello,
                                        <%=user.fistname%>
                                            <%=user.lastname%>
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile">
                                        <img src="admin/img/info.png"> My Profile</a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <img src="admin/img/lock.png"> LogOut
                                    </a>
                                </li>
                                <%}%>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="/">
            <h1>Men Watches</h1>
        </a>
    </div>
    <!--start-logo-->
    <!--bottom-header background-color: #73B6E1;-->
    <div class="header-bottom" style="background-color: white; z-index: -1" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="header">
                <div class="col-md-9 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active">
                                <a href="/">HOME</a>
                            </li>
                            <li class="grid">
                                <a >BRAND</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <% i = 0 ;%>
                                            <% brand.forEach((data)=>{%>
                                                <div class="col1 me-one">
                                                    <ul>
                                                        <li>
                                                            <a href="/brand/<%=data.id%>/1">
                                                                <%=data.brandname%>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <% i++ %>
                                                    <% if(i % 3 == 0) {%>
                                    </div>
                                    <div class="row">
                                        <%}%>
                                            <% }) %>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a>STYLE</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <% i = 0 ;%>
                                            <% style.forEach((data)=>{%>
                                                <div class="col1 me-one">
                                                    <ul>
                                                        <li>
                                                            <a href="/style/<%=data.id%>/1">
                                                                <%=data.stylename%>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <% i++ %>
                                                    <% if(i % 3 == 0) {%>
                                    </div>
                                    <div class="row">
                                        <%}%>
                                            <% }) %>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="contact">CONTACT</a>
                            </li>
                            <li class="grid">
                                <a href="about">ABOUT</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 header-right">
                    <form action="/search/results" method="POST">
                        <div class="search-bar">
                            <input type="text" name="keywords" placeholder="SEARCH" required>
                            <input type="submit" value="">
                        </div>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--bottom-header-->