<!--header-->
<% include header %>
	<!--end of header-->

	<!--slider image-->
	<% include slider_image %>
	<!--end of slider image-->

		<!--product-starts-->
		<div class="product">
			<div class="container">
				<div class="product-top">
					<div class="product-one">
						<% i = 0 %>
							<%product.forEach((data)=>{%>
								<div class="col-md-3 product-left">
									<div class="product-main simpleCart_shelfItem">
										<a href="product-details/<%=data.id%>" class="mask">
											<img class="img-responsive zoom-img" style="width: 225px; height: 250px" src="images/<%= data.image[Object.keys(data.image)[0]]%>"
											 alt="" />
										</a>
										<div class="product-bottom">
											<h3>
												<%=data.name%>
											</h3>
											<h4>
												<a class="item_add" href="addtocart/<%=data.id%>/1">
													<i></i>
												</a>
												<span class=" item_price">$
													<%=data.price%>
												</span>
											</h4>
										</div>
										<div class="srch">
											<a href="addtocart/<%=data.id%>/1" style="text-decoration: none">
												<span>Add to Cart</span>
											</a>
										</div>
									</div>
								</div>
								<% i++ %>
									<% if(i % 4 == 0) {%>
										&nbsp </div>
					<div class="product-one">
						<%}%>
							<% }) %>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="container">
				<div class="product-top">
					<div class="product-one">
						<div class="col-md-12 product-left">
							<div class="product-main simpleCart_shelfItem">
									<% if (pages > 0) { %>
										<ul class="pagination text-center">
											<% if (current == 1) { %>
												<li class="disabled"><a>First</a></li>
											<% } else { %>
												<li><a href="/1">First</a></li>
											<% } %>
											<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
											<% if (i !== 1) { %>
												<li class="disabled"><a>...</a></li>
											<% } %>
											<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
												<% if (i == current) { %>
													<li class="active"><a><%= i %></a></li>
												<% } else { %>
													<li><a href="/<%= i %>"><%= i %></a></li>
												<% } %>
												<% if (i == Number(current) + 4 && i < pages) { %>
													<li class="disabled"><a>...</a></li>
												<% } %>
											<% } %>
											<% if (current == pages) { %>
												<li class="disabled"><a>Last</a></li>
											<% } else { %>
												<li><a href="/<%= pages %>">Last</a></li>
											<% } %>
										</ul>
									<% } %>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!--product-end-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  -->

		<!--footer-->
		<% include footer%>
			<!--end of footer-->