	<!--header-->
	<%include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Products</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--prdt-starts-->
	<div class="prdt"> 
		<div class="container">
			<div class="prdt-top">
				<div class="col-md-9 prdt-left">
						
					<div class="product-one">
						<% i = 0 %>
						<%product.forEach((data)=>{%>
							<div class="col-md-4 product-left p-left">
								<div class="product-main simpleCart_shelfItem">
									<a href="/product-details/<%=data.id%>" class="mask">
										<img class="img-responsive zoom-img" style="width: 225px; height: 250px" src="images/<%= data.image[Object.keys(data.image)[0]]%>" alt="" />
									</a>
									<div class="product-bottom">
										<h3><%=data.name%></h3>
										<h4><a class="item_add" href=""><i></i></a> <span class=" item_price">$ <%=data.price%></span></h4>
									</div>
									<div class="srch srch1">
										<a href="addtocart/<%=data.id%>" style="text-decoration: none"><span>Add to Cart</span></a>
									</div>addtocart/<%=data.id%>/1
								</div>
							</div>
						<% i++ %>
						<% if(i % 3 == 0) {%>
							&nbsp </div> <div class="product-one">
						<%}%>
					<% }) %>
					</div>
				</div>	
				<!-- right menu -->
				<%include right_menu%>
				<!-- end of right menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--product-end-->
	<!--footer-->
	<%include footer%>
	<!--end of footer-->