<!--header-->
<%include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="">
						<a href="/shopping-cart">Shopping cart</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->

	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>My Shopping Bag</h2>
			</div>
			<div class="ckeck-top heading">

				<!--add new menu item-->
				<div class="col-lg-12">
					<%if (message.length > 0 ){%>
						<div class="alert alert-info">
							<h4>
								<%= message%>
							</h4>
						</div>
						<%}%>
				</div>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<div class="in-check">
						<ul class="unit">
							<li>
								<span>Image</span>
							</li>
							<li>
								<span>Product Name</span>
							</li>
							<li>
								<span>Unit Price</span>
							</li>
							<li>
								<span>Quantity</span>
							</li>
							<li> </li>
							<div class="clearfix"> </div>
						</ul>
						<%if(!session.cart || session.cart.totalPrice == 0){%>

							<div class="ckeck-top heading">
								<h2>Your Shopping Bag is Empty</h2>
								<br>
								<br>
								<div class="account-right">
									<a href="/">Continue to Shopping </a>
								</div>
							</div>
							<%}else{%>
								<%cartItem.forEach(product=>{%>
									<ul class="cart-header">
										<a href="remove/<%=product.item.rows[0].id%>" class="close1"> </a>
										<li class="ring-in">
											<a href="product-details/<%=product.item.rows[0].id%>">
												<img src="images/<%=product.item.rows[0].image[Object.keys(product.item.rows[0].image)[0]]%>" class="img-responsive" style="height: 50%; width: 50%"
												 alt="">
											</a>
										</li>
										<li>
											<span class="name">
												<%=product.item.rows[0].name%>
											</span>
										</li>
										<li>
											<span class="cost">
												$
												<%=product.item.rows[0].price%>
											</span>
										</li>
										<li>
											<span>
												<input type="number" size="3" min=1 class="btn btn-default" name="qty<%=product.item.rows[0].id%>" id="qty<%=product.item.rows[0].id%>"
												 value="<%=product.quantity%>" width="5px">
											</span>
										</li>
										<div class="clearfix"> </div>
									</ul>
									<%})%>
										<%}%>
					</div>

					<div class="ckeck-top heading" style="float: right">
						<h2>Your Total:
							<%if(!session.cart){%>
								0 $
								<%}else{%>
									<%=session.cart.totalPrice%> $
										<%}%>
						</h2>
						<br>
						<div class="account-right">
							<%if(!session.cart || session.cart.totalPrice == 0){%>
								<a>CheckOut</a>
								<%}else{%>
									<a href="/shopping-cart/checkout">CheckOut</a>
									<%}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-ckeckout-->
	<!--footer-->
	<%if(session.cart){%>
		<% cartItem.forEach(product => {%>
			<script>
				(function ($) {
					$(document).ready(function () {
						$('#qty<%=product.item.rows[0].id%>').change(function () {
							var qty = $('#qty<%=product.item.rows[0].id%>').val();
							if (qty > 5 || isNaN(qty)) {
								alert('The maximum quantity is 5 products');
								$('#qty<%=product.item.rows[0].id%>').val('<%=product.quantity%>');
							} else if (qty == 0 || qty < 0) {
								alert('This product quantity is greater than 0. ');
								$('#qty<%=product.item.rows[0].id%>').val('<%=product.quantity%>');
							} else {
								if (qty > parseInt('<%=product.item.rows[0].quantity%>')) {
									alert('This product only have <%=product.item.rows[0].quantity%> item(s).');
									$('#qty<%=product.item.rows[0].id%>').val('<%=product.quantity%>');
								} else {
									$.get('/addtocart/<%=product.item.rows[0].id%>/' + qty);
									setInterval(function () { location.reload(); }, 500);
								}
							}
						});
					});
				})(jQuery);
			</script>
			<%}) %>
				<%} %>
					<% include footer %>
						<!--end of footer-->