<!--header-->
<%include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">Checkout</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>My Shopping Bag</h2>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<h3></h3>
					<!-- <script>$(document).ready(function (c) {
							$('.close1').on('click', function (c) {
								$('.cart-header').fadeOut('slow', function (c) {
									$('.cart-header').remove();
								});
							});
						});
					</script>
					<script>$(document).ready(function (c) {
							$('.close2').on('click', function (c) {
								$('.cart-header1').fadeOut('slow', function (c) {
									$('.cart-header1').remove();
								});
							});
						});
					</script>
					<script>$(document).ready(function (c) {
							$('.close3').on('click', function (c) {
								$('.cart-header2').fadeOut('slow', function (c) {
									$('.cart-header2').remove();
								});
							});
						});
					</script> -->

					<div class="in-check">
						<ul class="unit">
							<li>
								<span>Image</span>
							</li>
							<li>
								<span>Product Name</span>
							</li>
							<li>
								<span>Unit Price</span>
							</li>
							<li>
								<span>Quantity</span>
							</li>
							<li> </li>
							<div class="clearfix"> </div>
						</ul>
						<%if(!session.cart){%>
							<div class="ckeck-top heading">
								<h2>Your Shopping Bag is Empty</h2>
							</div>
							<%}else{%>
								<%cartItem.forEach(product=>{%>
									<ul class="cart-header">
										<div class="close1"> </div>
										<li class="ring-in">
											<a href="product-details/<%=product.item.rows[0].id%>">
												<img src="images/<%=product.item.rows[0].image[Object.keys(product.item.rows[0].image)[0]]%>" class="img-responsive" style="height: 50%; width: 50%" alt="">
											</a>
										</li>
										<li>
											<span class="name">
												<%=product.item.rows[0].name%>
											</span>
										</li>
										<li>
											<span class="cost">
													<%=product.item.rows[0].price%>
											</span>
										</li>
										<li>
											<span>
													<%=product.quantity%>
											</span>
										</li>
										<div class="clearfix"> </div>
									</ul>
									<%})%>
								<%}%>
					</div>

					<div class="ckeck-top heading" style="float: right">
						<h2>Total:
							<%if(!session.cart){%>
								0 $
							<%}else{%>
								<%=session.cart.totalPrice%> $
							<%}%>
						</h2>

						<br>
						<div class="account-right">
							<a href="/checkout">CheckOut</a>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!--end-ckeckout-->
	<!--footer-->
	<% include footer %>
		<!--end of footer-->