<!--header-->
<% include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">Single</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
					<%product.forEach((data)=>{%>
						<div class="sngl-top">
							<div class="col-md-5 single-top-left">
								<div class="flexslider">
									<ul class="slides">
										<li data-thumb="images/<%= data.image[Object.keys(data.image)[0]]%>">
											<div class="thumb-image">
												<img src="images/<%= data.image[Object.keys(data.image)[0]]%>" data-imagezoom="true" class="img-responsive" alt="" />
											</div>
										</li>
										<li data-thumb="images/<%= data.image[Object.keys(data.image)[1]]%>">
											<div class="thumb-image">
												<img src="images/<%= data.image[Object.keys(data.image)[1]]%>" data-imagezoom="true" class="img-responsive" alt="" />
											</div>
										</li>
										<li data-thumb="images/<%= data.image[Object.keys(data.image)[2]]%>">
											<div class="thumb-image">
												<img src="images/<%= data.image[Object.keys(data.image)[2]]%>" data-imagezoom="true" class="img-responsive" alt="" />
											</div>
										</li>
									</ul>
								</div>
								<!-- FlexSlider -->
								<script src="js/imagezoom.js"></script>
								<script defer src="js/jquery.flexslider.js"></script>
								<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
								<script>
									// Can also be used with $(document).ready()
									$(window).load(function () {
										$('.flexslider').flexslider({
											animation: "slide",
											controlNav: "thumbnails"
										});
									});
								</script>
							</div>
							<div class="col-md-7 single-top-right">
								<div class="single-para simpleCart_shelfItem">
									<h2>
										<%=data.name%>
									</h2>
									<h5 class="item_price">$
										<%=data.price %>
									</h5>
									<ul class="tag-men">
										<li>
											<span><strong> Movement Type: </strong> &nbsp;&nbsp; <%= data.details[Object.keys(data.details)[1]]%></span>
										</li>
										<li> <br /></li>
										<li>
											<span><strong>Case Size: </strong> &nbsp;&nbsp; <%= data.details[Object.keys(data.details)[0]]%></span>
										</li>
										<li> <br /></li>
										<li>
											<span><strong>Strap Material: </strong> &nbsp;&nbsp;<%= data.details[Object.keys(data.details)[2]]%></span>
										</li>
										<li> <br /></li>
										<li>
											<span><strong>Water Resistant: </strong> &nbsp;&nbsp;<%= data.details[Object.keys(data.details)[3]]%></span>
											
										</li>
										<li> <br /></li>
									</ul>
									<br />
									<a href="addtocart/<%=data.id%>/1" class="add-cart item_add">ADD TO CART</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="tabs">
							<ul class="menu_drop">
								<li class="item1">
									<a href="#">
										<img src="images/arrow.png" alt="">Description</a>
									<ul>
										<li class="subitem1">
											<a><%=data.description %></a>
										</li>
									</ul>
								</li>
								<li class="item3">
									<a href="#">
										<img src="images/arrow.png" alt="">Comment</a>
									<ul>
										<li class="subitem2">
											<a href="#"> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
												nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
												augue duis dolore</a>
										</li>
										<li class="subitem3">
											<a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis
												per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<% })%>


							<div class="latestproducts">
								<div class="product-one">
									<div class="col-md-4 product-left p-left">
										<div class="product-main simpleCart_shelfItem">
											<a href="single.html" class="mask">
												<img class="img-responsive zoom-img" src="images/p-1.png" alt="" />
											</a>
											<div class="product-bottom">
												<h3>Smart Watches</h3>
												<p>Explore Now</p>
												<h4>
													<a class="item_add" href="#">
														<i></i>
													</a>
													<span class=" item_price">$ 329</span>
												</h4>
											</div>
											<div class="srch">
												<span>-50%</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 product-left p-left">
										<div class="product-main simpleCart_shelfItem">
											<a href="single.html" class="mask">
												<img class="img-responsive zoom-img" src="images/p-2.png" alt="" />
											</a>
											<div class="product-bottom">
												<h3>Smart Watches</h3>
												<p>Explore Now</p>
												<h4>
													<a class="item_add" href="#">
														<i></i>
													</a>
													<span class=" item_price">$ 329</span>
												</h4>
											</div>
											<div class="srch">
												<span>-50%</span>
											</div>
										</div>
									</div>
									<div class="col-md-4 product-left p-left">
										<div class="product-main simpleCart_shelfItem">
											<a href="single.html" class="mask">
												<img class="img-responsive zoom-img" src="images/p-3.png" alt="" />
											</a>
											<div class="product-bottom">
												<h3>Smart Watches</h3>
												<p>Explore Now</p>
												<h4>
													<a class="item_add" href="#">
														<i></i>
													</a>
													<span class=" item_price">$ 329</span>
												</h4>
											</div>
											<div class="srch">
												<span>-50%</span>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
				</div>
				<!-- right menu -->
				<%include right_menu%>
					<!-- end of right menu -->
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-single-->
	<!--footer-->
	<% include footer%>
		<!--end of footer-->